spring:
  application:
    name: holiday-keeper

  # H2 Database 설정
  datasource:
    url: jdbc:h2:mem:holidaydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # H2 Console 설정
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
    defer-datasource-initialization: true

  # SQL 초기화
  sql:
    init:
      mode: never

# Swagger UI 설정
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

# 로깅 설정
logging:
  level:
    com.planitsquare.holidaykeeper: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
